*{
    scroll-behavior: smooth;
    margin: 0;
}
header{
    background-image: url(./img/Rectangle\ 1.jpg);
    background-size: cover;
    color: #fff;
    height: 900px;
}
.content{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_info{
    display: flex;
    justify-content: space-around;
    width: 900px;
    font-family: 'Oswald';
}
.content_inf{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}
.content_inf_a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.content_inf_a:hover{
    transition: 0.5s;
    font-size: 22px;
}
.content_partn{
    width: 180px;
    font-family: 'Oswald';
}
.content_partn p{
    font-size: 20px;
    width: 140px;
}
.content_main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 620px;
}
.content_main h2{
    font-family: 'Oswald';
    font-style: normal;
    height: 200px;
    font-weight: 600;
    font-size: 98px;
    line-height: 145px;
    display: flex;
    align-items: center;
    color: #FCFCFC;
    position: relative;
    top: 140px;
}
.content_main_div{
    position: relative;
    top: 110px;
    box-sizing: border-box;
    width: 170px;
    height: 45px;
    border: 2px solid #FCFCFC;
}
.content_main_div a{
    position: relative;
    top: 4px;
    left: 40px;
    font-size: 21px;
    font-family: 'Oswald';
    font-weight: 300;
    color: white;
    text-decoration: none;
}
.First_section{
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 120px;
    padding-bottom: 120px;
    height: 500px;
}
.Tyru{
    display: flex;
    align-items: center;
}
.Info_tyru{
    width: 50%;
    padding-left: 150px;
}
.Info_tyru h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 115%;
}
.Info_tyru p{
    padding-top: 20px;
    width: 330px;
    height: 370px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}
.Tyru_img {
    position: relative;
    top: 10px;
    left: -150px;
    width: 800px;
}
.Second_section{
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 60px;
    padding-bottom: 120px;
    height: 500px;
}
.Second_section h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 115%;
    height: 100px;
}
.Popular_turs{
    padding-top: 100px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Turs{
    height: 500px;
    width: 500px;
}
.Background_img{
    position: absolute;
    height: 400px;
    width: 500px;
    opacity: 0.7;
    border-radius: 2%;
}
.Position_img{
    position: relative;
    top: 50px;
    left: 50px;
    width: 18px;
}
.Turs_info_least{
    position: relative;
    top: 290px;
    left: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 115%;
}
.Turs h3{
    position: relative;
    top: 280px;
    left: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 115%;
}
.Fav_img{
    width: 18px;
    position: relative;
    top: 50px;
    left: 420px;
}
.Shit{
    position: relative;
    top: 45px;
    left: 35px;
    color: #fff;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
}
.Turs_info_span_first{
    width: 200px;
    border-right: 1px solid black;
    padding-right: 10px;
}
.Turs_info_span_second{
    border-right: 1px solid black;
    padding-right: 10px;
}
.Third_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 120px;
    padding-bottom: 120px;
    height: 550px;
    background-image: url(./img/Rectangle\ 9\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.Table_info{
    padding-top: 70px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    width: 1000px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
}
.Table_info_main_span{
    width: 100px;
}
.Table_info_main_level{
    position: relative;
    left: -15px;
}
.Table_info_first{
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid #fff;
}
.Table_info_second{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid #fff;
}
.Table_info_third{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid #fff;
}
.Table_info_fourth{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid #fff;
}
.Table_info_fifth{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}
.second_a_div{
    border: 1px solid #fff;
    width: 175px;
}
.second_a{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
}
.Third_p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Third_p p{
    padding-top: 8px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
}
.Third_section h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 115%;
}
.Fourth_section{
    padding-top: 120px;
    height: 900px;
}
.Fourth_section_h2{
    display: flex;
    justify-content: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 115%;
}
.Fourth_section_maindiv{
    display: flex;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 100px;
}
.Fourth_section_divfirst{
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 20px;
    margin-right: 150px;
}
.Fourth_section_divsecond{
    width: 70%;
}
.Fourth_section_info_div{
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 400px;
    border-bottom: 1px solid black;
    padding-bottom: 25px;
    padding-top: 25px;
}
/* .Fourth_section_info_div:hover{
    transition: 0.7s;
    background-color: #061B28;
    color: #fff;
}
.Fourth_section_info_div a:hover{
    transition: 0.7s;
    color: #fff;
} */
.Fourth_section_info_div span{
    padding-left: 10px;
}
.Fourth_section_info_div a{
    text-decoration: none;
    color: #000;
    padding-left: 10px;
    padding-top: 5px;
}
.Fourth_section_divsecond img{
    width: 100%;
}
.Fourth_section_divsecond span{
    padding-top: 10px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}
.Fourth_section_divsecond h3{
    padding-bottom: 5px;
    Font-family: 'Oswald';
    Font-style: Regular;
    Font-size: 22px;
    Line-height: 24px;
    Line-height: 150%;
}
.Fourth_section_divsecond p{
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 20px;
    Line-height: 20px;
    Line-height: 140%;
}
.Fourth_section_info_a{
    position: relative;
    top: 40px;
    width: 400px;
    height: 50px;
    text-align: center;
    background-color: #EC5118;
}
.Fourth_section_info_a a{
    position: relative;
    top: 12px;
    left: 0px;
    width: 400px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.Fifth_section{
    padding-top: 140px;
    height: 720px;
    margin-right: 100px;
    margin-left: 100px;
}
.Fifth_section_divfirst{
    display: flex;
    flex-direction: column;
    height: 720px;
    width: 50%;
    background-color: #061B28;
}
.Fifth_section_divfirst h2{
    padding-top: 70px;
    padding-left: 100px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 115%;
    color: #fff;
}
.Fifth_section_divfirst p{
    padding-left: 100px;
    padding-top: 20px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.Fifth_section_divfirst_a a{
    position: absolute;
    top: 12px;
    left: 185px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
}
.Fifth_section_divsecond img{
    position: relative;
    top: -720px;
    left: 50%;
    height: 720px;
    width: 50%;
}
.Fifth_section_divfirst_span{
    position: absolute;
    top: 100px;
}
.Fifth_section_divfirst_button{
    position: absolute;
    margin-left: 100px;
    top: 4870px;
    width: 425px;
    height: 50px;
    text-align: center;
    background-color: #EC5118;
}
.Fifth_section_input{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: row;
    width: 50%;
    padding-left: 100px;
    padding-top: 25px;
}
.Fifth_section_input_first{
    margin-top: 40px;
    height: 20px;
    background-color: #061B28;
    color: #fff;
}
.Fifth_section_input_second{
    margin-top: 40px;
    height: 20px;
    background-color: #061B28;
    color: #fff;
}
.Fifth_section_input_third{
    color: #fff;
    margin-top: 40px;
    height: 20px;
    background-color: #061B28;
}
.Fifth_section_input_all{
    width: 425px;
    height: 26px;
}
footer{
    height: 600px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}
.footer_divfirst{
    width: 50%;
}
.footer_divfirst img{
    padding-top: 80px;
    padding-left: 150px;
    width: 600px;
    height: 500px;
}
.footer_divsecond{
    width: 50%;
    padding-top: 85px;
    padding-left: 90px;
    color: #000;
}
.footer_divsecond h2{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 115%;
    padding-bottom: 20px;
}
.footer_divsecond_main_div{
    height: 100px;
    width: 300px;
}
.footer_divsecond_span{
    position: relative;
    top: 20px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}
.footer_divsecond_p{
    position: relative;
    top: 15px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
}
.footer_divsecond_fourthdiv{
    height: 80px;
    display: flex;
    flex-direction: column;
}
.footer_divsecond_seconddiv{
    padding-top: 10px;
}
.footer_divsecond_imgdiv{
    position: relative;
    top: 35px;
    display: flex;
    justify-content: space-between;
    width: 100px;
}
@media screen and (min-device-width: 350px) and (max-device-width: 445px) {
    .content_main h2{
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        height: 200px;
        font-weight: 600;
        font-size: 70px;
        line-height: 145px;
        display: flex;
        align-items: center;
        color: #FCFCFC;
        position: absolute;
        top: 180px;
    }
    .content{
        padding-top: 35px;
        display: flex;
        flex-direction: column;
    }
    .content_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        font-family: 'Oswald', sans-serif;
    }
    .content_inf{
        width: 350px;
    }
    .Mountain_h1 h1{
        font-size: 26px;
    }
    .content_partn{
        width: 130px;
        padding-top: 10px;
    }
    .Mountain_h1{
        padding-bottom: 5px;
    }
    .content_main_div{
        position: absolute;
        top: 335px;
    }
    .Info_tyru h2{
        font-size: 36px;
        width: 320px;
    }
    .Info_tyru p{
        width: 320px;
        font-size: 20px;
    }
    .Info_tyru{
        width: 340px;
        text-align: center;
        padding-left: 0px;
    }
    .Tyru{
        flex-direction: column;
    }
    .First_section{
        margin-right: 0px;
        margin-left: 5px;
        padding-top: 60px;
        padding-bottom: 10px;
        height: 700px;
    }
    .Tyru_img{
        position: relative;
        top: 20px;
        left: 0px;
        width: 330px;
    }
    .Second_section{
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 120px;
        height: 500px;
    }
    .Second_section h2{
        text-align: center;
        font-size:36px;
        height: 50px;
    }
    .Popular_turs{
        padding-top: 0px;
        height: 400px;
        display: flex;
        flex-direction: column;
        height: 1200px;
    }
    .Turs{
        height: 300px;
        width: 350px;
    }
    .Background_img{
        position: absolute;
        height: 300px;
        width: 350px;
        opacity: 0.7;
    }
    .Turs h3{
        position: relative;
        top: 200px;
        left: 10px;
        width: 300px;
    }
    .Position_img{
        position: relative;
        top: 20px;
        left: 20px;
    }
    .Shit {
        position: relative;
        top: 15px;
        left: 10px;
    }
    .Fav_img {
        position: relative;
        top: 18px;
        left: 290px;
    }
    .Turs_info_least {
        position: relative;
        top: 205px;
        left: 10px;
        width: 300px;
    }
    .Third_section{
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 700px;
        height: 500px;
    }
    .Table_info_first{
        width: 350px;
    }
    .Table_info_first_height{
        display: none;
    }
    .Table_info_first_level{
        display: none;
    }
    .Table_info_information{
        display: none;
    }
    .Table_info_second{
        width: 350px;
    }
    .Table_info_third{
        width: 350px;
    }
    .Table_info_fourth{
        width: 350px;
    }
    .Table_info_fifth{
        width: 350px;
    }
    .Table_info{
        width: 350px;
    }
    .Fourth_section{
        height: 2100px;
    }
    .Fourth_section_h2{
        font-size: 26px;
    }
    .Fourth_section_maindiv{
        display: flex;
        flex-direction: column-reverse;
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 50px;
    }
    .Fourth_section_divsecond{
        width: 100%;
        padding-bottom: 20px;
    }
    .Fourth_section_divfirst{
        width: 100%;
        margin-right: 20px;
    }
    .Fourth_section_info_div {
        width: 340px;
    }
    .Fourth_section_info_a {
        width: 340px;
    }
    .Fifth_section{
        padding-top: 20px;
        height: 800px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .Fifth_section_divsecond img{
        display: none;
    }
    .Fifth_section_divfirst{
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 100%;
    }
    .Fifth_section_divfirst_button{
        position: relative;
        margin-left: 0px;
        top: -100px;
        width: 320px;
        height: 50px;
    }
    .Fifth_section_divfirst h2 {
        padding-top: 70px;
        padding-left: 0px;
        font-size: 40px;
        text-align: center;
    }
    .Fifth_section_divfirst p {
        padding-left: 0px;
        padding-top: 20px;
        font-size: 16px;
        text-align: center;
    }
    .Fifth_section_input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0px;
        margin-right: 0px;
    }
    .Fifth_section_input_all{
        width: 300px;
    }
    .Fifth_section_divfirst_a{
        display: flex;
        justify-content: center;
    }
    .Fifth_section_divfirst_a a {
        position: relative;
        left: 0px;
        top: 0px;
    }
    .Fifth_section_divsecond{
        display: none;
    }
    footer{
        height: 550px;
    }
    .footer_divfirst img{
        display: none;
    }
    .footer_divsecond{
        width: 350px;
        padding-left: 0px;
        padding-top: 10px;
    }
}
@media screen and (min-device-width: 446px) and (max-device-width: 550px) {
    .content_main h2{
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        height: 200px;
        font-weight: 600;
        font-size: 70px;
        line-height: 145px;
        display: flex;
        align-items: center;
        color: #FCFCFC;
        position: absolute;
        top: 180px;
    }
    .content{
        padding-top: 35px;
        display: flex;
        flex-direction: column;
    }
    .content_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 380px;
        font-family: 'Oswald', sans-serif;
    }
    .content_inf{
        width: 360px;
    }
    .Mountain_h1 h1{
        font-size: 26px;
    }
    .content_partn{
        width: 130px;
        padding-top: 10px;
    }
    .Mountain_h1{
        padding-bottom: 5px;
    }
    .content_main_div{
        position: absolute;
        top: 335px;
    }
    .Info_tyru h2{
        text-align: center;
        font-size: 38px;
        width: 440px;
    }
    .Info_tyru{
        width: 440px;
        padding-left: 0px;
    }
    .Tyru{
        flex-direction: column;
    }
    .Info_tyru p{
        width: 440px;
        text-align: center;
    }
    .First_section{
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 120px;
        padding-bottom: 120px;
        height: 500px;
    }
    .Tyru_img{
        position: relative;
        top: 20px;
        left: 0px;
        width: 400px;
    }
    .Second_section{
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 110px;
        padding-bottom: 120px;
        height: 1200px;
    }
    .Second_section h2{
        padding-bottom: 40px;
        text-align: center;
        font-size:43px;
        height: 50px;
    }
    .Popular_turs{
        padding-top: 0px;
        height: 400px;
        display: flex;
        flex-direction: column;
        height: 1200px;
    }
    .Turs{
        height: 350px;
        width: 400px;
    }
    .Background_img{
        position: absolute;
        height: 350px;
        width: 400px;
        opacity: 0.7;
    }
    .Turs h3{
        position: relative;
        top: 245px;
        left: 10px;
    }
    .Position_img{
        position: relative;
        top: 35px;
        left: 25px;
    }
    .Shit {
        position: relative;
        top: 30px;
        left: 15px;
    }
    .Fav_img {
        position: relative;
        top: 35px;
        left: 300px;
    }
    .Turs_info_least {
        position: relative;
        top: 250px;
        left: 10px;
    }
    .Third_section{
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 50px;
        height: 500px;
    }
    .Table_info_first{
        width: 350px;
    }
    .Table_info_first_height{
        display: none;
    }
    .Table_info_first_level{
        display: none;
    }
    .Table_info_information{
        display: none;
    }
    .Table_info_second{
        width: 350px;
    }
    .Table_info_third{
        width: 350px;
    }
    .Table_info_fourth{
        width: 350px;
    }
    .Table_info_fifth{
        width: 350px;
    }
    .Table_info{
        width: 350px;
    }
    .Fourth_section{
        height: 1850px;
    }
    .Fourth_section_h2{
        font-size: 30px;
    }
    .Fourth_section_maindiv{
        display: flex;
        flex-direction: column-reverse;
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 50px;
    }
    .Fourth_section_divsecond{
        width: 100%;
        padding-bottom: 20px;
    }
    .Fourth_section_divfirst{
        width: 100%;
        margin-right: 20px;
    }
    .Fourth_section_info_div {
        width: 445px;
    }
    .Fourth_section_info_a {
        width: 445px;
    }
    .Fifth_section{
        padding-top: 10px;
        height: 800px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .Fifth_section_divsecond img{
        display: none;
    }
    .Fifth_section_divfirst{
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 100%;
    }
    .Fifth_section_divfirst_button{
        position: relative;
        margin-left: 0px;
        top: -100px;
        width: 400px;
        height: 50px;
    }
    .Fifth_section_divfirst h2 {
        padding-top: 70px;
        padding-left: 0px;
        font-size: 40px;
        text-align: center;
    }
    .Fifth_section_divfirst p {
        padding-left: 0px;
        padding-top: 20px;
        font-size: 16px;
        text-align: center;
    }
    .Fifth_section_input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0px;
        margin-right: 0px;
    }
    .Fifth_section_input_all{
        width: 400px;
        height: 28px;
    }
    .Fifth_section_divfirst_a{
        display: flex;
        justify-content: center;
    }
    .Fifth_section_divfirst_a a {
        position: relative;
        left: 0px;
        top: 0px;
    }
    .Fifth_section_divsecond{
        display: none;
    }
    footer{
        height: 550px;
    }
    .footer_divfirst img{
        display: none;
    }
    .footer_divsecond{
        width: 350px;
        padding-left: 0px;
        padding-top: 10px;
    }
}
@media screen and (min-device-width: 551px) and (max-device-width: 740px) {
    .content_main h2{
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        height: 200px;
        font-weight: 600;
        font-size: 70px;
        line-height: 145px;
        display: flex;
        align-items: center;
        color: #FCFCFC;
        position: absolute;
        top: 180px;
    }
    .content{
        padding-top: 35px;
        display: flex;
        flex-direction: column;
    }
    .content_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 380px;
        font-family: 'Oswald', sans-serif;
    }
    .content_inf{
        width: 440px;
    }
    .Mountain_h1 h1{
        font-size: 26px;
    }
    .content_partn{
        width: 130px;
        padding-top: 10px;
    }
    .Mountain_h1{
        padding-bottom: 5px;
    }
    .content_main_div{
        position: absolute;
        top: 335px;
    }
    .Info_tyru h2{
        font-size: 38px;
        width: 500px;
        text-align: center;
    }
    .Info_tyru{
        width: 500px;
        padding-left: 0px;
    }
    .Tyru{
        flex-direction: column;
    }
    .Info_tyru p{
        width: 500px;
        text-align: center;
    }
    .First_section{
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 120px;
        padding-bottom: 120px;
        height: 500px;
    }
    .Tyru_img{
        position: relative;
        top: -50px;
        left: 0px;
        width: 400px;
    }
    .Second_section{
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 110px;
        padding-bottom: 120px;
        height: 1200px;
    }
    .Second_section h2{
        padding-bottom: 40px;
        text-align: center;
        font-size:43px;
        height: 50px;
    }
    .second_a_div{
        width: 205px;
    }
    .Popular_turs{
        padding-top: 0px;
        height: 400px;
        display: flex;
        flex-direction: column;
        height: 1200px;
    }
    .Turs{
        height: 350px;
        width: 400px;
    }
    .Background_img{
        position: absolute;
        height: 350px;
        width: 400px;
        opacity: 0.7;
    }
    .Turs h3{
        position: relative;
        top: 245px;
        left: 10px;
    }
    .Position_img{
        position: relative;
        top: 35px;
        left: 25px;
    }
    .Shit {
        position: relative;
        top: 30px;
        left: 15px;
    }
    .Fav_img {
        position: relative;
        top: 35px;
        left: 300px;
    }
    .Turs_info_least {
        position: relative;
        top: 250px;
        left: 10px;
    }
    .Third_section{
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 50px;
        height: 500px;
    }
    .Table_info_main{
        width: 500px;
    }
    .Table_info{
        width: 500px;
    }
    .Fourth_section{
        height: 1740px;
    }
    .Fourth_section_h2{
        font-size: 30px;
    }
    .Fourth_section_maindiv{
        display: flex;
        flex-direction: column-reverse;
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 50px;
    }
    .Fourth_section_divsecond{
        width: 100%;
        padding-bottom: 20px;
    }
    .Fourth_section_divfirst{
        width: 100%;
        margin-right: 20px;
    }
    .Fourth_section_info_div {
        width: 500px;
    }
    .Fourth_section_info_a {
        width: 500px;
    }
    .Fifth_section{
        padding-top: 20px;
        height: 800px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .Fifth_section_divsecond img{
        display: none;
    }
    .Fifth_section_divfirst{
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 100%;
    }
    .Fifth_section_divfirst_button{
        position: relative;
        margin-left: 0px;
        top: -100px;
        width: 400px;
        height: 50px;
    }
    .Fifth_section_divfirst h2 {
        padding-top: 70px;
        padding-left: 0px;
        font-size: 40px;
        text-align: center;
    }
    .Fifth_section_divfirst p {
        padding-left: 0px;
        padding-top: 20px;
        font-size: 16px;
        text-align: center;
    }
    .Fifth_section_input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0px;
        margin-right: 0px;
    }
    .Fifth_section_input_all{
        width: 400px;
        height: 28px;
    }
    .Fifth_section_divfirst_a{
        display: flex;
        justify-content: center;
    }
    .Fifth_section_divfirst_a a {
        position: relative;
        left: 0px;
        top: 0px;
    }
    .Fifth_section_divsecond{
        display: none;
    }
    footer{
        height: 550px;
    }
    .footer_divfirst img{
        display: none;
    }
    .footer_divfirst{
        display: none;
    }
    .footer_divsecond{
        width: 300px;
        padding-left: 0px;
        padding-top: 10px;
    }
}
@media screen and (min-device-width: 740px) and (max-device-width: 860px){
    .content_main h2{
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        height: 200px;
        font-weight: 600;
        font-size: 70px;
        line-height: 145px;
        display: flex;
        align-items: center;
        color: #FCFCFC;
        position: absolute;
        top: 180px;
    }
    .content{
        padding-top: 35px;
        display: flex;
        justify-content: space-between;
    }
    .content_info{
        display: flex;
        align-items: center;
        width: 600px;
        font-family: 'Oswald', sans-serif;
        padding-left: 10px;
    }
    .content_inf{
        width: 440px;
    }
    .Mountain_h1 h1{
        font-size: 26px;
    }
    .content_partn{
        width: 130px;
        height: 36px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .Mountain_h1{
        padding-bottom: 5px;
    }
    .content_main_div{
        position: absolute;
        top: 335px;
    }
    .Info_tyru h2{
        font-size: 38px;
        width: 500px;
        text-align: center;
    }
    .Info_tyru{
        width: 500px;
        padding-left: 0px;
    }
    .Tyru{
        flex-direction: column;
    }
    .Info_tyru p{
        width: 500px;
        text-align: center;
    }
    .First_section{
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 120px;
        padding-bottom: 120px;
        height: 500px;
    }
    .Tyru_img{
        position: relative;
        top: -50px;
        left: 0px;
        width: 460px;
    }
    .Second_section{
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 110px;
        padding-bottom: 120px;
        height: 1200px;
    }
    .Second_section h2{
        padding-bottom: 40px;
        text-align: center;
        font-size:43px;
        height: 50px;
    }
    .second_a_div{
        width: 205px;
    }
    .Popular_turs{
        padding-top: 0px;
        height: 400px;
        display: flex;
        flex-direction: column;
        height: 1200px;
    }
    .Turs{
        height: 350px;
        width: 400px;
    }
    .Background_img{
        position: absolute;
        height: 350px;
        width: 400px;
        opacity: 0.7;
    }
    .Turs h3{
        position: relative;
        top: 245px;
        left: 10px;
    }
    .Position_img{
        position: relative;
        top: 35px;
        left: 25px;
    }
    .Shit {
        position: relative;
        top: 30px;
        left: 15px;
    }
    .Fav_img {
        position: relative;
        top: 35px;
        left: 300px;
    }
    .Turs_info_least {
        position: relative;
        top: 250px;
        left: 10px;
    }
    .Third_section{
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 50px;
        height: 500px;
    }
    .Table_info_main{
        width: 500px;
    }
    .Table_info{
        width: 500px;
    }
    .Fourth_section{
        height: 1700px;
    }
    .Fourth_section_h2{
        font-size: 30px;
    }
    .Fourth_section_maindiv{
        display: flex;
        flex-direction: column-reverse;
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 50px;
    }
    .Fourth_section_divsecond{
        width: 100%;
        padding-bottom: 20px;
    }
    .Fourth_section_divfirst{
        width: 100%;
        margin-right: 20px;
    }
    .Fourth_section_info_div {
        width: 570px;
    }
    .Fourth_section_info_a {
        width: 570px;
    }
    .Fifth_section{
        padding-top: 20px;
        height: 800px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .Fifth_section_divsecond img{
        display: none;
    }
    .Fifth_section_divfirst{
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 100%;
    }
    .Fifth_section_divfirst_button{
        position: relative;
        margin-left: 0px;
        top: -100px;
        width: 480px;
        height: 50px;
    }
    .Fifth_section_divfirst h2 {
        padding-top: 70px;
        padding-left: 0px;
        font-size: 40px;
        text-align: center;
    }
    .Fifth_section_divfirst p {
        padding-left: 0px;
        padding-top: 20px;
        font-size: 16px;
        text-align: center;
    }
    .Fifth_section_input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0px;
        padding-top: 50px;
        margin-right: 0px;
    }
    .Fifth_section_input_all{
        width: 480px;
        height: 30px;
    }
    .Fifth_section_divfirst_a{
        display: flex;
        justify-content: center;
    }
    .Fifth_section_divfirst_a a {
        position: relative;
        left: 0px;
        top: 0px;
    }
    .Fifth_section_divsecond{
        display: none;
    }
    footer{
        height: 550px;
    }
    .footer_divfirst img{
        display: none;
    }
    .footer_divfirst{
        display: none;
    }
    .footer_divsecond{
        width: 300px;
        padding-left: 0px;
        padding-top: 10px;
    }
}
@media screen and (min-device-width: 861px) and (max-device-width: 1000px){
    .content_main h2{
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        height: 200px;
        font-weight: 600;
        font-size: 70px;
        line-height: 145px;
        display: flex;
        align-items: center;
        color: #FCFCFC;
        position: absolute;
        top: 180px;
    }
    .content{
        padding-top: 35px;
        display: flex;
        justify-content: space-between;
    }
    .content_info{
        display: flex;
        align-items: center;
        width: 600px;
        font-family: 'Oswald', sans-serif;
        padding-left: 10px;
    }
    .content_inf{
        width: 440px;
    }
    .Mountain_h1 h1{
        font-size: 26px;
    }
    .content_partn{
        width: 130px;
        height: 30px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .Mountain_h1{
        padding-bottom: 5px;
    }
    .content_main_div{
        position: absolute;
        top: 335px;
    }
    .Info_tyru h2{
        font-size: 44px;
        width: 500px;
        text-align: center;
    }
    .Info_tyru{
        width: 500px;
        padding-left: 0px;
    }
    .Tyru{
        flex-direction: column;
    }
    .Info_tyru p {
        width: 500px;
        height: 400px;
        text-align: center;
        font-size: 18px;
    }
    .First_section{
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 120px;
        padding-bottom: 120px;
        height: 500px;
    }
    .Tyru_img {
        position: relative;
        top: -80px;
        left: 0px;
        width: 500px;
    }
    .Second_section{
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 110px;
        padding-bottom: 120px;
        height: 1200px;
    }
    .Second_section h2{
        padding-bottom: 40px;
        text-align: center;
        font-size:43px;
        height: 50px;
    }
    .second_a_div{
        width: 205px;
    }
    .Popular_turs{
        padding-top: 0px;
        height: 400px;
        display: flex;
        flex-direction: column;
        height: 1200px;
    }
    .Turs{
        height: 350px;
        width: 400px;
    }
    .Background_img{
        position: absolute;
        height: 350px;
        width: 400px;
        opacity: 0.7;
    }
    .Turs h3{
        position: relative;
        top: 245px;
        left: 10px;
    }
    .Position_img{
        position: relative;
        top: 35px;
        left: 25px;
    }
    .Shit {
        position: relative;
        top: 30px;
        left: 15px;
    }
    .Fav_img {
        position: relative;
        top: 35px;
        left: 300px;
    }
    .Turs_info_least {
        position: relative;
        top: 250px;
        left: 10px;
    }
    .Third_section{
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 50px;
        height: 500px;
    }
    .Table_info_main{
        width: 500px;
    }
    .Table_info{
        width: 500px;
    }
    .Fourth_section{
        height: 1000px;
    }
    .Fourth_section_h2{
        font-size: 34px;
    }
    .Fourth_section_maindiv{
        display: flex;
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 50px;
    }
    .Fourth_section_divsecond {
        width: 60%;
        padding-bottom: 20px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Fourth_section_divsecond h3{
        width: 500px;
    }
    .Fourth_section_divsecond p{
        width: 500px;
    }
    .Fourth_section_divsecond span{
        display: none;
    }
    .Fourth_section_divsecond img {
        width: 500px;
    }
    .Fourth_section_divfirst{
        width: 30%;
        height: 900px;
        margin-right: 20px;
        padding-left: 30px;
    }
    .Fourth_section_info_div {
        width: 320px;
        padding-bottom: 36px;
        padding-top: 36px;
    }
    .Fourth_section_info_a {
        width: 320px;
    }
    .Fifth_section{
        padding-top: 20px;
        height: 800px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .Fifth_section_divsecond img{
        display: none;
    }
    .Fifth_section_divfirst{
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 100%;
    }
    .Fifth_section_divfirst_button{
        position: relative;
        margin-left: 0px;
        top: -100px;
        width: 480px;
        height: 50px;
    }
    .Fifth_section_divfirst h2 {
        padding-top: 70px;
        padding-left: 0px;
        font-size: 40px;
        text-align: center;
    }
    .Fifth_section_divfirst p {
        padding-left: 0px;
        padding-top: 20px;
        font-size: 16px;
        text-align: center;
    }
    .Fifth_section_input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0px;
        padding-top: 50px;
        margin-right: 0px;
    }
    .Fifth_section_input_all{
        width: 480px;
        height: 30px;
    }
    .Fifth_section_divfirst_a{
        display: flex;
        justify-content: center;
    }
    .Fifth_section_divfirst_a a {
        position: relative;
        left: 0px;
        top: 0px;
    }
    .Fifth_section_divsecond{
        display: none;
    }
    footer{
        height: 550px;
    }
    .footer_divfirst img{
        width: 450px;
        height: 450px;
        padding-top: 30px;
        padding-left: 0px;
    }
    .footer_divfirst{
        width: 500px;
    }
    .footer_divsecond {
        width: 300px;
        height: 500px;
        padding-left: 40px;
        padding-top: 10px;
    }
}